{{extend 'layout.html'}}

<strong>{{=titulo}}</strong><br>

<!-- <script type="text/javascript" language="javascript" src="{{=URL('static','jsGantt/main.js')}}"></script>-->
<script type="text/javascript" language="javascript" src="{{=URL('static','js/jsGantt/jsgantt.js')}}"></script> 
<link rel="stylesheet" type="text/css" href="{{=URL('static','js/jsGantt/jsgantt.css')}}">
<!-- <link rel="stylesheet" type="text/css" href="{{=URL('static','jsGantt/main.css')}}"> -->
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'datatables/jquery.dataTables.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'datatables/buttons.dataTables.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'datatables/fixedColumns.dataTables.min.css')}}">
<style type="text/css" class="init"></style>
<!-- <script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/jquery-3.5.1.js')}}"></script>-->
<script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/dataTables.buttons.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/buttons.flash.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/jszip.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/pdfmake.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/vfs_fonts.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/buttons.html5.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/buttons.print.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{=URL('static', 'datatables/dataTables.fixedColumns.min.js')}}"></script>

<div id="embedded-Gantt" style="width: 100%; height: 100%;"></div>
<br>
<hr>

<h6>
<table id="projectMatrix" align="left" class="display" width="100%" cellspacing="0" style="font-size:70%">
  <thead>
    <tr>
    <!-- <td>{{=T('Project')}}</td> -->
    <td>{{=T('EDT')}}</td>
    <td>{{=T('Activity')}}</td>
    <td>{{=T('Description')}}</td>
    <td>{{=T('Responsible')}}</td>
    <td>{{=T('Status')}}</td>
    <td>{{=T('Initial Date')}}</td>
    <td>{{=T('Final Date')}}</td>
    <td>{{=T('To Do')}}</td>
    <td>{{=T('Doing')}}</td>
    <td>{{=T('Done')}}</td>
    <td>{{=T('Deliverable')}}</td>
    <td>{{=T('Deliverable Comment')}}</td>
    </tr>
  </thead>
  <tbody>
    {{for i in tareasArreglo:}}
      <tr>
      <!-- <td>{{=i[0]}}</td> -->
      <td>{{=i[1]}}</td>
      <td>{{=i[2]}}</td>
      <td>{{=i[3]}}</td>
      <td>{{=i[4]}}</td>
      <td>{{=i[5]}} %</td>
      <td>{{=i[6]}}</td>
      <td>{{=i[7]}}</td> <!-- final date -->
      <td>{{=i[8]}}</td>
      <td>{{=i[9]}}</td>
      <td>{{=i[10]}}</td>
      <td>
        {{for x in i[11]:}}
          <a href="{{=x}}">File</a><br>
        {{pass}}
      </td>
      <td>
      {{for x in i[12]:}}
      {{=x}}
      {{pass}}
      </td>
      </tr>
    {{pass}}
  </tbody>
</table>
</h6>

<script>
  //$(document).ready(function() {$("#projectMatrix").removeAttr('width').dataTable( { lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]], scrollY: "500px", scrollX: true, scrollCollapse: true,  columnDefs: [{targets: ['' ], width:500 } ], fixedColumns: {leftColumns: 2}, dom: 'Bfrtip', buttons: ['copy', 'csv', 'excel', 'pdf', 'print']  } );} );
  $(document).ready(function() {$("#projectMatrix").removeAttr('width').dataTable( { lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]], scrollY: "500px", scrollX: true, scrollCollapse: true,  fixedColumns: {leftColumns: 2}, dom: 'Bfrtip', buttons: ['copy', 'csv', 'excel', 'pdf', 'print']  } );} );

var g = new JSGantt.GanttChart(document.getElementById('embedded-Gantt'), 'month');

if (g.getDivId() != null) {
  g.setCaptionType('Complete');  // Set to Show Caption (None,Caption,Resource,Duration,Complete)
  g.setQuarterColWidth(36);
  g.setDateTaskDisplayFormat('day dd month yyyy'); // Shown in tool tip box
  g.setDayMajorDateDisplayFormat('mon yyyy - Week ww') // Set format to display dates in the "Major" header of the "Day" view
  g.setWeekMinorDateDisplayFormat('dd mon') // Set format to display dates in the "Minor" header of the "Week" view
  g.setShowTaskInfoLink(1); // Show link in tool tip (0/1)
  g.setShowEndWeekDate(0); // Show/Hide the date for the last day of the week in header for daily view (1/0)
  g.setUseSingleCell(10000); // Set the threshold at which we will only use one cell per table row (0 disables).  Helps with rendering performance for large charts.
  g.setFormatArr('Day', 'Week', 'Month', 'Quarter'); // Even with setUseSingleCell using Hour format on such a large chart can cause issues in some browsers

//Parameters (pID, pName, pStart,pEnd,   pStyle, pLink (unused)  pMile, pRes, pComp, pGroup, pParent, pOpen, pDepend, pCaption, pNotes, pGantt)
//           (_pID, pName, pStart, pEnd, pClass, pLink,          pMile, pRes, pComp, pGroup, pParent, pOpen, pDepend, pCaption, pNotes, pGantt_, pCost = null, pPlanStart = null, pPlanEnd = null, pDuration = null, pBarText = null, pDataObject = null)**
  {{for i in tareas:}}
    g.AddTaskItem(new JSGantt.TaskItem(
      {{=i.edt}},
      '{{=i.Actividad}}',    //pName
      '{{=i.FechaInicio}}', //pName
      '{{=i.FechaFin}}',    //pEnd
      {{if i.pgroup==1:}}'ggroupblack'{{elif i.pgroup==0:}}'gtask{{=i.TaskColor}}'{{elif i.pgroup==2:}}'ggroupblack'{{elif i.milestone==True:}}'gmilestone'{{pass}},              //pStyle
      '',                    //pLink (unused)
      {{if i.Milestone==True:}}1{{elif i.Milestone==False:}}0{{else:}}0{{pass}},                     //pMile
      '{{=i.Responsable}}',            //pRes
      {{=i.Avance}},                    //pCom%
      {{=i.pgroup}},                     //pGroup 0 = normal task, 1 = standard group task, 2 = combined group task
      {{=i.pparent}},                    //pParent     
      {{=i.popen}},                     //pOpen
      '{{=i.depend}}',                    //pDepend FS, SF, SS, FF
      '',                    //pCaption caption that will be added after task bar
      '{{=str(i.Descripcion).replace('\n',' ')}}',                    //pNotes     
      g, //object
      //9999, //pCost
      //pPlanStart
      //pPlanEnd
      //pDuration
      //pBarText
      //pDataObject
    ));
  {{pass}}

  g.Draw();
} else {
  alert("Error, unable to create Gantt Chart");
}

</script>
